.container {
    padding: 5px 5vw;
}

.search {
    border: 1px solid lightgrey;
    padding: 5px 5 px;
    margin-bottom: 9px;
}
.search > input {
    width: 79%;
    border: none;
}

.search > div {
    display: inline-block;
    border: none;
    border-radius: 5px;
    background-color: lightgrey;
    margin-left: 5px;
    padding: 0px 5px;
    width: 18%;
    text-align: center;
}

.search > input:focus, 
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.tab-menu {
    border-bottom: 1px solid lightgrey;
}

.tab-menu > div {
    display: inline-block;
    padding: 10px;
}

.tab-menu > div:hover {
    cursor: pointer;
}

.active {
    border-bottom: 1px solid gray;
}

.setting-panel {
    margin: 10px 0;
}

.settingTreeView {
    display: inline-block;
    width: 30%;

    vertical-align: top;
    margin-top: 10px;
}

.settingTreeView > span {
    padding-left: 17px;
}

.settingConfigs {
    padding-left: 15px;
    display: inline-block;
    width: 70%;

}

.settingConfigs > h5 {
    margin-top: 10px;
}