/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.css";
@import "~@circlon/angular-tree-component/css/angular-tree-component.css";

* {
    padding: 0px;
    margin: 0px;
}

body {
    font-size: 00.9rem;
}